<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th align="center"><h2>Nombre</h2></th>
    </tr>
  </thead>
  <tbody>
    {% for item in trabajadores %}
      <tr>
        <td><h3>{{ item.nombre }}</h3></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<style>
  table, td, th {
    border: 1px solid black;
  }

  th {
    background-color: black;
    color: white;
  }
</style>